<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!--<form action="">-->
<!--    FirstName :<input type="text" name = "FirstName"> <br/>-->
<!--    LastName :<input type = "text"  name="LastName"><br/>-->
<!--    Phone Number :<input type = "int" maxlength="10"><br>-->
<!--    Address 1:<input type = "text" ><br>-->
<!--    Address 2:<input type = "text"> <br>-->
<!--    City : <input type = "text"> <br>-->
<!--    Zipcode: <input type = "int">-->


<!--</form>-->
<div class="container" style="margin-bottom: 10px">


<form enctype = "multipart/form-data" action="." method = "post" >
    {% csrf_token %}
    <div class="form-row col-md-12 text-center">
        <h1> Patient Registration Form </h1>
    </div>
    <div class="form-row">
            <div class="form-group col-md-6">
                <label for="nameLabel">First Name</label>
                <input id="firstname" name="name" class="form-control" type="text" />
            </div>
            <div class="form-group col-md-6">
                <label for="nameLabel">Last Name</label>
                <input id="lastname" name="name" class="form-control" type="text" />
            </div>
    </div>
    <div class="form-row col-md-12">
            <div class="form-group">
                <label for="PhoneLabel">Phone Number</label>
                <input id="phone" name="phone number" class="form-control" type="int" />
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Address1 Label">Address1</label>
                <input id="Address1" name="Address1" class="form-control" type="text" />
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-12">
                <label for="Address2">Address2</label>
                <input id="Address2" name="Address2" class="form-control" type="text" />
            </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-6">
                <label for="City">City</label>
                <input id="City" name="City" class="form-control" type="text" />
            </div>
            <div class="form-group col-md-6">
                <label for="Zipcode">Zipcode</label>
                <input id="Zipcode" name="Zipcode" class="form-control" type="int" />
            </div>
    </div>
<!--            <div>-->
<!--            <p>Click on the "Choose File" button to upload a Report:</p>-->
<!--            <input type="file" id="myFile" name="filename">-->
<!--            </div><br><br>-->
<!--            <div>-->
<div class="form-row">
    <p>Upload File: <input type = "file" name = "filename" /></p>
</div>
    <div class="form-row  text-center">
    <div >
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
 </div>
<!--            </div>-->

</form>
</div>


<!--{% if error %}-->
<!--<div style="color:red;">{{ error }}</div>-->
<!--{% endif %}-->

<!--<form action="/register" method ="post">-->
<!--    {% csrf_token % }-->
<!--    {{ form.as_p }}-->
<!--    <input type ="submit" value="Submit">-->
<!--</form>-->
